<!DOCTYPE html>
<html lang="en">
  <body class="Body">
    <div class="Navbar">
      <img src="./backarrow.png" (click)="changepage()" class="image"/>
      <p class="TittleText">Flora List</p>
    </div>

    <div class="row justify-content-center">
        <div class="column" (click)="lavender()">
            <div class="lavender"></div>
            <p class="name">Lavender</p>
        </div>
        <div class="column" (click)="douglas()">
            <div class="douglas"></div>
            <p class="name">Douglas Fir</p>
        </div>
    </div>
      
    <div class="row justify-content-center">
        <div class="column" (click)="pansy()">
            <div class="pansy"></div>
            <p class="name">Pansy</p>
        </div>
        <div class="column" (click)="pine()">
            <div class="pine"></div>
            <p class="name">Lodgepole Pine</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="column" (click)="ponderosa()">
          <div class="ponderosa"></div>
          <p class="name">Ponderosa Pine</p>
        </div>
        <div class="column" (click)="redwood()">
          <div class="redwood"></div>
          <p class="name">Coast Redwood</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="column" (click)="sequoia()">
          <div class="sequoia"></div>
          <p class="name">Giant Sequoia</p>
        </div>
        <div class="column" (click)="daisy()">
          <div class="daisy"></div>
          <p class="name">Oxeye Daisy</p>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="column" (click)="bluebell()">
        <div class="bluebell"></div>
        <p class="name">Bluebell</p>
      </div>
      <div class="column" (click)="larch()">
        <div class="larch"></div>
        <p class="name">Western Larch</p>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="column" (click)="hemlock()">
      <div class="hemlock"></div>
      <p class="name">Poppy</p>
    </div>
    <div class="column" (click)="redspruce()">
      <div class="spruce"></div>
      <p class="name">Red Spruce</p>
    </div>
</div>
<div class="row justify-content-center">
  <div class="column" (click)="atlascedar()">
    <div class="atlascedar"></div>
    <p class="name">Atlas Cedar</p>
  </div>
</div>
  </body>
</html>